# Entorno virtual
venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log

# Base de datos SQLite
*.db

# Configuración de IDEs y editores
.vscode/
.idea/
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/
